<div data-active-color="white" data-background-color="man-of-steel" data-image="../../../assets/app-assets/img/sidebar-bg/01.jpg" class="app-sidebar">
    <!-- main menu header-->
    <!-- Sidebar Header starts-->
    <div class="sidebar-header">
      <div class="logo clearfix"><a href="index.html" class="logo-text float-left">
          <div class="logo-img"><img style="width: 215px;" src="../../../assets/app-assets/img/logo.png"></div></a><a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block"><i data-toggle="expanded" class="toggle-icon ft-toggle-right"></i></a><a id="sidebarClose" href="javascript:;" class="nav-close d-block d-md-block d-lg-none d-xl-none"><i class="ft-x"></i></a></div>
    </div>
    <!-- Sidebar Header Ends-->
    <!-- / main menu header-->
    <!-- main menu content-->
    <div style="margin-top: 80px;" class="sidebar-content ps-container ps-theme-default ps-active-y" data-ps-id="a99da60d-b489-8ea6-a70c-a754fd26ed4a">
      <div class="nav-container">
        <ul id="main-menu-navigation" data-menu="menu-navigation" data-scroll-to-active="true" class="navigation navigation-main">
          
          <li class=" nav-item"><a  [routerLink]="['/home']"><i class="ft-home"></i><span data-i18n="" class="menu-title">Dashboard</span></a>
          </li>
          <li class=" nav-item"><a [routerLink]="['/items']"><i class="ft-box"></i><span data-i18n="" class="menu-title">Items</span></a>
          </li>
          <li class=" nav-item"><a [routerLink]="['/items']"><i class="ft-message-square"></i><span data-i18n="" class="menu-title">Reports</span></a>
          </li>
          
        </ul>
      </div>
    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -2px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 5px; height: 567px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 2px; height: 307px;"></div></div></div>
    <!-- main menu content-->
    <div class="sidebar-background" style="background-image: url('../../../assets/app-assets/sidebar-bg/01.jpg');"></div>
    <!-- main menu footer-->
    <!-- include includes/menu-footer-->
    <!-- main menu footer-->
</div>